asgiref==3.7.2
attrs==23.1.0
boto3==1.28.56
botocore==1.31.56
cached-property==1.5.2
certifi==2023.7.22
cfenv==0.5.3
chardet==5.2.0
charset-normalizer==3.2.0
click==8.1.7
click-default-group==1.2.4
datapackage==1.15.2
distlib==0.3.7
dj-database-url==2.1.0
Django==3.2.21
django-cors-headers==4.2.0
djangorestframework==3.14.0
docutils==0.20.1
et-xmlfile==1.1.0
filelock==3.12.4
furl==2.1.3
gevent==23.9.1
goodtables==2.5.4
greenlet==3.0.3
gunicorn==21.2.0
idna==3.4
ijson==3.2.3
isodate==0.6.1
jmespath==1.0.1
json-logic-qubit==0.9.1
jsonlines==4.0.0
jsonpointer==2.4
jsonschema==4.19.1
jsonschema-specifications==2023.7.1
linear-tsv==1.1.0
openpyxl==3.1.2
orderedmultidict==1.0.1
packaging==23.1
# parameterized==0.9.0
pipenv==2023.9.8
platformdirs==3.11.0
psycopg2-binary==2.9.7
python-dateutil==2.8.2
pytz==2023.3.post1
PyYAML==6.0.1
referencing==0.30.2
requests==2.31.0
-e git+https://github.com/TimOPI/ReVAL-fork.git@master#egg=ReVal
rfc3986==2.0.0
rpds-py==0.10.3
s3transfer==0.7.0
simpleeval==0.9.13
six==1.16.0
SQLAlchemy==2.0.2
sqlparse==0.4.4
tableschema==1.20.2
tabulator==1.53.5
typing_extensions==4.8.0
unicodecsv==0.14.1
urllib3==1.26.16
virtualenv==20.24.5
whitenoise==6.5.0
xlrd==2.0.1
zope.event==5.0
zope.interface==6.0